
<html>
<body>
<div class="text-white bg-gray-dark border-bottom border-gray-light">
  <div class="container text-center py-4 mb-4">
    <img src="img\mlh-logo-color.png" class="w-100" style="max-width:120px;" />
    <div class="mt-3 mb-4">
      <h1 class="h1 mb-0">Hackathon Helper</h1>
      <h2 class="h4  font-weight-light">Guide to upcoming and current Hackathons</h2>
    </div>
    <div class="dropdown">
      <button onclick="myFunction()" class="dropbtn">Choose a Hackathon</button>
      <div id="myDropdown" class="dropdown-content">
        <a href="/teams/?hackathon=SunsOutHacksOut">Suns Out Hacks Out</a>
        <a href="/teams/?hackathon=FirstDayBackHacks">First Day Back Hacks</a>
        <a href="/teams/?hackathon=MedHacks">MedHacks</a>
      </div>
    </div>
  </div>
</div>

<script>
  /* When the user clicks on the button, 
  toggle between hiding and showing the dropdown content */
  function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
  }
  
  // Close the dropdown if the user clicks outside of it
  window.onclick = function(event) {
    if (!event.target.matches('.dropbtn')) {
      var dropdowns = document.getElementsByClassName("dropdown-content");
      var i;
      for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
        }
      }
    }
  }
  </script>
</body>
</html>
