<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Hackathon Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/colors.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <style>
    .free-hackers {
        text-align: center;
    }

    .free-hackers p {
        list-style-type: none;
        font-size: large;
        padding-left: 0;
    }

    .apple {
        text-align: center;
        margin-top: 20px;
        font-size: xx-large; 
        font-weight: bold;
    }

    .hackathon-title {
        text-align: center;
        font-weight: bold;
        font-size: x-large;
        text-decoration: underline;
        padding-bottom: 10px;
    }
    </style>
    <title>Test</title>
</head>
<body>
    <!-- <div id="names">
        
    </div> -->
    <h1 class="apple">
        Available Hackers for
    </h1>
</body>
<script>
    // document.getElementById("names").innerHTML = "asknsldkn.lfdsajkngljkfgljfdabgaljdf";
    // console.log(document.URL)
</script>
</html>