<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Hackathon Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/colors.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <style>.free-hackers {color: red;}</style>
    <title>Test</title>
</head>
<body>
    <div id="names">
        
    </div>
    THIS IS A TEST
</body>
<script>
    document.getElementById("names").innerHTML = "asknsldkn.lfdsajkngljkfgljfdabgaljdf";
    console.log(document.URL)
</script>
</html>